doctype html
html

  head
    title= title

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width", initial-scale="1")
    meta(name="description", content="")
    meta(name="author", content="")

    //-
      Bootstrap 3.3.7 CSS

    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel="icon" href="https://getbootstrap.com/favicon.ico")

  body
    .container
      .page-header
        h1= title
      p.lead
        | Pad is an online, collaborative, real-time notepad built with WebSockets and NodeJS!
      form(action="/Pad/" + id, method="POST")
        button(type="submit", class="btn btn-primary btn-lg")= buttonLbl

    //-
      Bootstrap 3.3.7 JS and JQuery 3.1.1

    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js", integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
