doctype html
html

  head
    title= title

    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel="icon" href="https://getbootstrap.com/favicon.ico")

    script(src="/socket.io/socket.io.js" type="text/javascript")
    script(src="/javascripts/worker.js", type="text/javascript")

  body
    textarea(id="text", autocomplete="off", onkeyup="processText()", placeholder=temp)
